fieldset{
    border: 3px solid gold;
    margin: 300px; 
     margin-top: 10px;

}
.lab{
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;

}
.gau{
    margin-left: 100px;
    float: left;
    color: red;
}
.dr{
    margin-right: 100px ;
    float: right;
    color: gold;
}
.cadre{
    border: 2px solid gold;
    text-align: center;
    margin-left: -15px;
    margin-right: -14px;
}
h1{
    border: 1px solid gold;
    margin-left: 200px;
    margin-right: 200px;
}
a{
    color: black
}
button{
    font-size: 30px;
    border-radius: 5px;
}