fieldset{
    border: 3px solid gold;
    margin: 300px; 
     margin-top: 10px;

}
.lab{
    text-align: center;
    font-weight: bold;

}
.gau{
    margin: 100px;
    float: left;
    background-color: red;
    color: red;

}
.dr{
    margin: 100px;
    float: right;
    background-color: gold;
    color: gold;
}
.cadre{
    border: 2px solid gold;
    text-align: center;
    margin-left: -15px;
    margin-right: -14px;
}
h1{
    border: 1px solid gold;
    margin-left: 200px;
    margin-right: 200px;


}