h2{
    margin-top: 5px;
    text-align: center;
    background-color: gold;
    margin-left: 400px;
    margin-right: 250px;
}
table{
    border-collapse: collapse; }
th,td{
    border: 1px solid black;
}
.ajout{
    text-align: center;
    float:left;
margin-left: 10px;
}
.annuler{
    position:absolute;
    top: 2px;
    right: 75px;
    /* margin-left: 1095px; */
    
}
a{
    text-decoration: none;
    color: black;
}