h4{
    margin-top: 5px;
    text-align: center;
    background-color: gold;
    margin-left: 400px;
    margin-right: 250px;
}
table{
    border-collapse: collapse; }
th,td{
    border: 1px solid black;
}

#btnPl{
        
            
    margin-left: 30px; 
}
.annuler{
    position:absolute;
    top: 2px;
    right: 70px;
    float: right;
    /* margin-left: 1095px; */
    
}
.fermer{
    float: right;
}
.container-fluid{
    border: 5px solid gold;
    
}
a{
    text-decoration: none;
    color: black;
}