.ajout{
    text-align: center;
    float:left;
/* margin-left: 50px; */
}
a{
    color:black;
}

h4{
    text-align: center;
    background-color: gold;
    width: 300px;
    font-size: 40px;
}
.fermer{
    float: right;
}
table{
    border-collapse: collapse; }
th,td{
    border: 1px solid black;
}

.annuler{
    position:absolute;
    top: 2px;
    right: 70px;
    float: right;
    /* margin-left: 1095px; */
    
}

.container-fluid{
    border: 5px solid gold;
    padding-top: 10px;
    
}